
 <div class='c-widget'>
  <h5 class='c-widget__title'>Newsletter</h5>
<div class="emailoctopus-form-wrapper emailoctopus-form-centered null" 
style="font-family: &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, sans-serif; color: rgb(26, 26, 26);"
>
<p style="text-align: center;" class="u-font-medium">Level up your automations with new Power Automate tips delivered weekly</p>
<p class="emailoctopus-success-message">
</p>
<p class="emailoctopus-error-message">
</p>
<form action="https://emailoctopus.com/lists/3128e7f7-50fd-11eb-a3d0-06b4694bee2a/members/embedded/1.3s/add"
   method="post"
   data-message-success="Thanks for subscribing!"
   data-message-missing-email-address="Your email address is required."
   data-message-invalid-email-address="Your email address looks incorrect, please try again."
   data-message-bot-submission-error="This doesn't look like a human submission."
   data-message-consent-required="Please check the checkbox to indicate your consent."
   data-message-invalid-parameters-error="This form has missing or invalid fields."
   data-message-unknown-error="Sorry, an unknown error has occurred. Please try again later."
   class="emailoctopus-form"
   data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6"
   >
   <div class="emailoctopus-form-row" class='form-group' style="display:inline;width: 50%; padding-right: 5px;">
      <input id="field_0"
         name="field_0"
         type="email"
         required="required"
         class='c-subscribe-form__input' 
         placeholder='Email'
         >
   </div>
   <div aria-hidden="true"
      class="emailoctopus-form-row-hp"
      style="display: none;"
      >
      <input type="text"
         name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a"
         tabindex="-1"
         autocomplete="nope"
         >
   </div>
   <div  style="display: inline;">
      <input type="hidden"
         name="successRedirectUrl"
         >
      <button type="submit" class='c-btn c-btn--active c-btn--full'>
      Subscribe
      </button>
   </div>
</form>
</div>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-recaptcha.js"></script>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js"></script>
</div>
</div>